// Colors
$color-primary: #1e9bd7;
$color-secondary: #73cd37;
$color-darkblue: #0073be; // gradient
$color-darkgreen: #009146; //gradient
$color-contrast: #fa911e;
$color-background: #f2f2f2;
$color-footer: #1e1e1f;
$color-white: #ffffff;
$color-black: #000;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-link: #73cd37;

// Fonts

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Open Sans", sans-serif;