.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .footer-item {
    flex: 1;
    padding: 20px;
    text-align: center;
  }

@media (min-width: 700px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

  