h1 {
  font-family: $font-primary;
  font-size: 34px;
  color: $color-white;
}
h2 {
    font-family: $font-secondary;
    font-size: 28px;
    color: $color-white;
  }
  h5 {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;
  }
  h6 {
    font-family: $font-primary;
    font-size: 16px;
    text-transform: uppercase;
  }
  a {
    color: $color-link;
    text-decoration: none;
    font-family: $font-primary;
    font-size: 14px;
  }
  p {
    font-family: $font-secondary;
    font-size: 14px;
    color: $color-black;
  }
  